




body, h1, h2, p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.sidebar {
  width: 250px; 
  height: 100vh; 
  background-color:rgb(49, 149, 255); 
  border-right: 1px solid rgb(172, 172, 172); 
  padding: 1rem; 
  position: fixed; 
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 1rem;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-list li {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.nav-list a {
  text-decoration: none;
  color:white;
  font-weight: bold;
}

.nav-list a:hover {
  text-decoration: underline;
}




.h1{
  /* position: relative; */
  position: fixed;
  width: 100%;
  left: 249px;
  background-color:rgb(6, 184, 255);
  padding: 20px;

}

.detailcard{
  position:fixed;
  width: 100%;
  left: 300px;
  top: 180px;
}

.detail{
  position:fixed;
  width: 100%;
  left: 100px;
  top: 400px;
}


